{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Edit Article {{ blog.title }}</h1>
    {% include 'Blog/_form.html.twig' %}
    <a href="/blog/show/{{ blog.id }}">Back</a>
{% endblock %}
