<div class="footer">



    <div class="uk-panel">
        <img class="uk-align-left uk-margin-remove-adjacent bastienbonnamant" src="../assets/images/bastienbonnamantlogo.png" width="225" height="150" alt="BASTIENBONNAMANT">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <div>
            <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="twitter"></a>
            <a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="facebook"></a>
            <a href="" class="uk-icon-button" uk-icon="youtube"></a>
        </div>
    </div>
</div>

<div class="footer_footer">
<h5 class="h5_footer">Site créé from scratch par Bastien Bonnamant</h5>
</div>