.footer {
    background-color: white;
    height: 300px;
}

.logo{
    height: 100px;
}

.footer_footer{
    height: 50px;
    background-color: #303030;
}

.h5_footer{
    color: white;
    padding: 10px;
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
}

.uk-panel {
    display: flow-root;
    position: relative;
    box-sizing: border-box;
    margin: 120px;
}

.bastienbonnamant {
    width: 430px;
}